.topDoor{
    position: relative;
   
       width: 0;
       height: 0;
       border-style: solid;
       border-width:0 .2in .2in .2in;
       border-color: transparent transparent #007bff transparent;
       z-index: 1003;
       background-color:transparent;
 

}
.Ttrbl{
    right:-0.02in;
    top:-0.3in;
}
.T4{
    right:-0.02in;
    top:-0.3in;
}
.Ttbl{
    right:-0.15in;
    top:-0.3in;
}
.Ttrl{
    right:-0.15in;
    top:-0.3in;
}
.Ttrb{
    right:-0.15in;
    top:-0.3in;
}
.Ttr{  right:-0.150in;
    top:-0.3in;}
.Ttb{  right:-0.150in;
    top:-0.3in;}
.Ttl{  right:-0.150in;
    top:-0.3in;}