.topDoor{
    position: relative;
   
       width: 0;
       height: 0;
       border-style: solid;
       border-width:0 .2in .2in .2in;
       border-color: transparent transparent #007bff transparent;
       z-index: 1003;
       background-color:transparent;
 

}
.trblT{
    right:-0.02in;
    top:-0.3in;
}