.leftDoor{
 position: relative;
//  left:-.28in;
//  top:-1.05in;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .2in .2in .2in 0;
    border-color: transparent #007bff transparent transparent;
    z-index: 1003;
    background-color:transparent;

}
.trblL{
    left:-.28in;
    top:-1.05in;
}