.blue1{
    // background-image: url('./blue1.png') ;
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000;
    position: relative;
    left:0in;
    top:0in;
    background-color: darkblue;
    width:.13in;
    height: .13in;
    border-radius: 2rem;

}
.red1{
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000;
    position: relative;
    left:0in;
    top:0in;
    background-color: red;
    width:.13in;
    height: .13in;
    border-radius: 2rem;
}
p{
    font-size: 10px;
    text-align: center;
    padding-bottom: 0rem;
    
}