.bottomDoor{
 border-color: black;
 position: relative;
 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .2in;
    border-color: #007bff transparent transparent transparent;
    z-index: 1003;
    background-color:transparent;

}
.Btrbl{
    right:-0.15in;
    top:-0.1in;
}
.B4{
    right:-0.15in;
    top:-0.1in;
}
.Brbl{
    right:-0.15in;
    top:.3in;
}
.Btbl{
    right:-0.15in;
    top:.3in;
}
.Btrb{
    right:-0.15in;
    top:-0.1in;
}
.Btb{
    right:-0.15in;
    top:0.3in;
}
.Brb{
    right:-.15in;
    top:.3in
}.Bbl{
    right:-.15in;
    top:.7in
}
.Bb{
    right:-.15in;
    top:.7in
}
