.bottomDoor{
 border-color: black;
 position: relative;
 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .2in;
    border-color: #007bff transparent transparent transparent;
    z-index: 1003;
    background-color:transparent;

}
.trblB{
    right:-0.15in;
    top:-0.1in;
}
.rblB{
    right:-0.15in;
    top:.3in;
}
.tblB{
    right:-0.15in;
    top:.3in;
}
.trbB{
    right:-0.15in;
    top:-0.1in;
}
.tbB{
    right:-0.15in;
    top:0.3in;
}
