.request{
    position: relative;
    top: 1rem ;

    background-color: darkblue;
    
    margin: 1rem;
    padding:1rem


}
.button{
    position: relative;
    right: 0;
    top: .0rem;
    width: .5in;
    height: .3in;
    background-color: darkgreen;
    text-align: center;
    margin-top: .05in;
}
.friendRequest{
    color: white;
    
}