.request{
    position: static;
    width:3in;
    height: .4in;
    background-color: darkblue;
    margin-left: 1rem;
    margin-top: 1rem;

}
.button{
    position: relative;
    right: 0;
    top: .0rem;
    width: .5in;
    height: .3in;
    background-color: darkgreen;
    text-align: center;
    margin-top: .05in;
}
.friendRequest{
    color: white;
}